# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter / checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary / backup files
*.tmp
*.bak
*.log

# Excel temporary files
~$*.xlsx
~$*.xls